/* custom-styles.scss */

.btn-modern {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#buy-button {
    background-color: transparent;
    color: #26A69A;
}

#sell-button {
    background-color: transparent;
    color: #EF5350;
}

.lot-size-selector input {
    width: 100px;
    font-size: 18px;
    padding: 8px;
    text-align: center;
}

.lot-control {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0 5px;
}
