/* Estilos del formulario de Login */

/* Contenedor principal del formulario */
.form-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  
  /* Estilos para los inputs */
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* Estilo para el botón */
  .form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Hover en el botón */
  .form-container button:hover {
    background-color: #45a049;
  }
  